/* -------------------------------- *
  /* Template (Header + Footer) */
/* -------------------------------- */
.navbar {
    background-color: #0c304b;
    width: 100%;

}


/* Adjusts the nav bar and logo's sizes to be responsive for all devices */

.logo {
    height: clamp(17px, 5vw, 50px);
    width: auto;
}

.navLinks a {
    font-size: clamp(11px, 2vw, 32px);
    margin: 0 clamp(0px, 2vw, 35px);
    white-space: nowrap;
    font-family: "Rubik";
}

/* Styling for the footer across all 4 pages, and auto-adjust */

footer{
    background-color: #0c304b;
    color: white;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    font-size: clamp(12px, 1.4vw, 32px);
    font-family: "Rubik";
    font-weight: 450;
}


.footericons{
    width: clamp(16px, 2vw, 32px);
    height: auto;
}
/* -------------------------------- */





/* -------------------------------- */
        /* Global Styles */
/* -------------------------------- */

body {
    background-color: #f3eedf;
    font-family: "Rubik", sans-serif;
    margin: 0;
}

figcaption a {
    font-size: clamp(10px, 0.8vw, 25px);
    margin-top: 4px;
    color: gray;
    text-decoration: none;
}

figcaption a:hover {
    color: #0c304b;
    font-size: clamp(10px, 0.85vw, 25px);
    text-decoration: underline;
}

/* -------------------------------- */







/* -------------------------------- */
        /* Entertainment */
/* -------------------------------- */

.main-container {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 30px;
}

.activities-container, .asian-food-container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.main-text {
    font-size: clamp(17px, 2vw, 32px);
    font-weight: 450;
}

.section-heading {
    font-size: clamp(15px, 2vw, 32px);
    text-decoration: underline;
    font-weight: 430;
}

.heading {
    font-size: clamp(16px, 1.7vw, 35px);
    text-decoration: underline;
    font-weight: 450;
}

.description-heading {
    font-size: clamp(14px, 1.5vw, 35px);
    text-decoration: underline;
    margin-top: 12px;
    margin-bottom: 5px;
}

.topPicks-description-text {
    font-size: clamp(13px, 1.4vw, 20px);
    line-height: 1.7;
}

.horizontal-images {
    border: 4px solid #0c304b;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.activity-images{
    border: 4px solid #0c304b;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    height: auto;
}

.activities-description-text {
    font-size: clamp(13px, 1.8vw, 20px);
    line-height: 1.7;
}
/* -------------------------------- */











/* -------------------------------- */
        /* Index Page */
/* -------------------------------- */


.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexheader{
    width: 100%;
}

.bannertext{
    position: absolute;
    color: white;
    text-align: center;
    font-size: clamp(18px, 4vw, 60px);
}

.welcometext{
    margin-top: 80px;
    margin-bottom: 200px;
}

.cbdimage{
    box-shadow: 10px 10px #9e9a8f;
}

.indexh5{
    font-weight: normal;
    font-size: clamp(10px, 1vw, 40px)
}

.review-box {
    width: 80%;
    margin: 80px auto;
    background-color: #0c304b;
    color: white;
    position: relative;
    box-shadow: 10px 10px #9e9a8f;
    overflow: hidden;
}


.review-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    padding: clamp(8px, 3vw, 60px);
    align-items: center;
}

.review-text p {
    font-size: clamp(5px, 1vw, 14px); 
    width: clamp(200px, 25vw, 400px);
    margin: 0 auto;
    text-align: center;
}

.review-box h1 {
    font-size: clamp(14px, 4vw, 32px);
    margin-bottom: clamp(4px, 2vw, 15px); 
}

.review-img {
    width: 100%;
    height: clamp(200px, 25vw, 400px);   
    object-fit: cover; 
    display: block;
}

.review-box .col-md-5{
    height: 100%;
}

.review-box .col-md-7 {
    height: 100%;
}

.review-box .row{
    height: 100%;
}

.review-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px 60px;
}

.review-text p {
    font-size: clamp(10px, 1vw, 14px);
    line-height: 1.4;
    margin: 0;
}

.indexfigcaptions{
    margin-top: 10px;
    text-align: center;
    font-size: clamp(10px, 1vw, 14px);
    width: 500px;
}

/* -------------------------------- */









/* -------------------------------- */
        /* Food */
/* -------------------------------- */

.sub-text {
    font-size: clamp(14px, 1.5vw, 32px);
    letter-spacing: 1.2px;
}


.food-banner-container {
    width: 100%;
}

.food-banner {
    width: auto;
    max-width: 1200px;
    height: clamp(100px, 25vw, 350px);
    border-radius: 6px;
}

.asian-food-images {
    border: 4px solid #0c304b;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}
/* -------------------------------- */








/* -------------------------------- */
        /* Page name */
/* -------------------------------- */



/* -------------------------------- */