/* -------------------------------- *
  /* Template (Header + Footer) */
/* -------------------------------- */
.navbar {
    background-color: #0c304b;

}

.logo {
    height: clamp(18.3px, 5vw, 60px);
    width: auto;
}

.navLinks a {
    font-size: clamp(10px, 1.5vw, 32px);
    margin: 0 clamp(0px, 2vw, 35px);
    white-space: nowrap;
    font-family: "Rubik";
}

footer{
    background-color: #0c304b;
    color: white;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: clamp(12px, 1.4vw, 32px);
    font-family: "Rubik";
    font-weight: 450;
}


.footericons{
    width: clamp(16px, 2vw, 32px);
    height: auto;
}
/* -------------------------------- */





/* -------------------------------- */
        /* Global Styles */
/* -------------------------------- */



/* -------------------------------- */







/* -------------------------------- */
        /* Page name */
/* -------------------------------- */



/* -------------------------------- */











/* -------------------------------- */
        /* Page name */
/* -------------------------------- */



/* -------------------------------- */









/* -------------------------------- */
        /* Page name */
/* -------------------------------- */



/* -------------------------------- */








/* -------------------------------- */
        /* Page name */
/* -------------------------------- */



/* -------------------------------- */